body
{
    background-image: url("../imgs/starsbg.png");
    color: #ffe81f;
    cursor: url(oth28.cur), auto;
    
}
#banner1
{
    text-align: center;
}
#filmList
{
    color: white;
}
#light,#dark
{
    font-size: 25px;
}
#light
{
    color:lightblue;
    font-weight:bold;
    width: 5%;
    text-align: center;
    cursor: url(oth25.cur), auto;
}
#dark
{
    color:red;
    font-weight: bold;
    width: 5%;
    text-align: center;
    cursor: url(darthmaulnormal.cur), auto;
}
#light:hover
{
    background-color: royalblue;
}
#dark:hover
{
    background-color: #820000;
}