body
{
    background-image: url("../imgs/starsbg.png");
    color: #ffe81f;
    cursor: url(oth28.cur), auto;
    
}
#banner1
{
    text-align: center;
}
#filmList
{
    color: #ffe81f;
    font-size:25px;
    font-family: fantasy;
    width: 35%;
    display: inline-block;
    border: solid lime 5px;
}
#infoList
{
    color: #ffe81f;
    font-size:20px;
    font-family: fantasy;
    display: inline-block;
    float: right;
    border: solid orange 5px;
    width: 60%;
    overflow: auto;
}
#light,#dark
{
    font-size: 25px;
}
#light
{
    color:lightblue;
    font-weight:bold;
    width: 5%;
    text-align: center;
    cursor: url(oth25.cur), auto;
}
#dark
{
    color:red;
    font-weight: bold;
    width: 5%;
    text-align: center;
    cursor: url(darthmaulnormal.cur), auto;
}
#light:hover
{
    background-color: royalblue;
}
#dark:hover
{
    background-color: #820000;
}